*{
    box-sizing: border-box;
}

body{
    background-color: #fcebb6;
    color: #221811; /*text clolor*/
    font-family: Verdana, Arial, sans-serif;
    background-image: url('background.gif');
}

header{
    background-color: #d2b48c;
    height: 150px;
    background-image: url(javajamlogo.jpg);
    background-repeat: no-repeat;
    display:block;
}

h1{ 
    /*line-height: 200%; /*linr spacing 200 = double spacing*/
    padding-top: 45px;
    padding-left: 220px;
    font-size: 3em;
}

nav{
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 10px;
    width: 200px;
    float: left; /*to float an element on the left side of the container*/
    display: block;
}
footer{
    background-color: #d2b48c;
    font-size: .60em;
    font-style: italic;
    text-align: center;
    padding-bottom: 10 px;
    border-top: 2px solid #221811;
    display: block;
}

#wrapper {
    width: 80%; /*the width of the content of an element*/
    margin-right: auto; /*configuration the space in the right margin of an element*/
    margin-left: auto;
    background-color: #231814;
    min-width: 900px;/*configures a min width for an element*/
    max-width: 1280px;
    box-shadow: 5px 5px 5px 5px #333333;
}

nav a{
    text-decoration: none;
}

nav a:link {
    color: #FEF6C2;
}

nav a:visited {
    color: red;
}

nav a:hover{
    color: #cc9933
}

nav ul{
    list-style-type: none; /*remove link marker*/
    padding-left: 0;
}

h4 {
    background-color: #d2b48c;
    font-size: 1.2em;
    padding-left: .5em;
    padding-bottom: 0;
    text-transform: uppercase;
    border-bottom: 2px solid #231814;
    clear: left; /*often used to terminate , or clear a float*/
}

main{
    padding: 0em 0em 2em 0em;
    margin-left: 200px;
    background-color: #fef6c2;
    display: block;

}

.details{
    padding-left: 20%;
    padding-right: 20%;
    overflow: auto;/* often used to clear a float, although its intended purpose is to configure how content should display if it is too large for the area allocated. 
    Auto = if needed, scrollbar are dsiplayed to allow access to the remaining content. */
}

img{
    padding-left: 10px;
    padding-right: 10px;
}

#heroroad {
    background-image: url(heroroad.jpg);
    background-size: 100% 100%;
    height: 250px;
}

#heromugs {
    background-image: url(heromugs.jpg);
    background-size: 100% 100%;
    height: 250px;
}

#heroguitar {
    background-image: url(heroguitar.jpg);
    background-size: 100% 100%;
    height: 250px;
}

main h2, main h3, main h4, main p, main div, main ul, main dl{
    padding-left: 3em;
    padding-right: 2em;
}

.floatleft {
    float: left;
    padding-right: 2em;
    padding-bottom: 2em;
}

table{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-spacing: 0;
    background-color: #ffffcc;
}
td,th{
    padding: 10px;/*to all sides*/
}
tr:nth-of-type(odd){
    background-color: #d2b48e;
}
